* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: white;
}
li {
    list-style: none;    
}
a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-weight: 100;
    
}
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 24px;
}
.navbar img {
    width: 20%;
    padding: 10px;
    margin-left: -50px;
}
.btn {
    display: flex;
    gap: 20px;
}
.btn1 {
    white-space: nowrap;
    border: none;
    background-color: white;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
}
.btn1:hover {
    color: dodgerblue;
}
.btn2 {
    padding: 8px;
    font-size: 1.3em;
    color: dodgerblue;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    border: 1px solid black;
    transition: 0.7s ease;
    white-space: nowrap;
}
.btn2:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-link {
    transition: 0.7s ease;
}
.nav-link:hover {
    color: dodgerblue;   
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


@media(max-width: 600px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        background-color: whitesmoke;
        width: 100%;
        justify-content: space-between;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
    .navbar {
        justify-content: space-between;
    }
    .navbar img {
     margin-left: -40px; 
     width: 60%; 
    }
    .bar {
        background-color: black;
        width: 40px;
        height: 5px;
        text-align: center;
        margin-right: 40px;
    }
   a {
    color: black;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 400;
    
}
.btn {
    display: block;
    width: 90%;
}
.btn1 {
    background-color: black;
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 20px;
    font-size: 1.8em;
    font-weight: lighter;
    border-radius: 20px;
    transition: 0.9s ease;
}
.btn1:hover {
    background-color: dodgerblue;
    color: white;
    
}
.btn2 {
    background-color: white;
    padding: 20px;
    font-size: 2em;
    border-radius: 20px;
}
}
